/* 
    Document   : style
    Created on : May 17, 2012, 7:04:03 PM
    Author     : slaweet
    Description:
        Purpose of the stylesheet follows.
*/

textarea {
    width:400px; 
    height: 200px;
    font-weight: normal;
    font-size: 12px;
}
h4 {
    margin: 5px;
    padding: 0px
}
.data {
    width: 450px; 
    min-height: 200px; 
    float:right;
}
.rect, .data {
    margin-bottom: 20px; 
    padding: 5px
}
.rect {
    border:1px solid #ccc;  
    width: 880px; 
    float:right;
}
#tasktext {
    width: 400px; 
    float: left;
}
.send {
    cursor: pointer
}
#wraper { 
    border:1px solid #ccc;  
    text-align:left; 
    width:900px; 
    margin: 20px auto 0 auto;
    padding: 10px;
}
td, th  { 
    border:1px solid #ccc;
}

.ok {
    background: green;
}
.nok {
    background: red;
}
